body {
  padding: 0;
  margin: 0;
}

#modal_window {
  background-color: rgba(000, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.message_window {
  width: 400px;
  height: 250px;
  background-color: white;
  position: relative;
  top: 150px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px 10px;
}

.text_window::-webkit-scrollbar {
  width: 1px;
}

.button {
  font-weight: bold;
  color: black;
  position: sticky;
  top: 17%;
  left: 64%;
}

.text_window {
  max-width: 350px;
  max-height: 200px;
  overflow: overlay;
  left: 25px;
  top: 10px;
  position: relative;
}

.modal_text {
  text-align: justify;
}
